---
---

@import "{{ site.theme }}";

header {
  background: #000000;
  h1 {
    color: #FFFFFF;
  }
  
  #banner {
    background: #FFB71B;
  }
}

body {
  background: #FFFFFF; 
}

section {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
