---
---

@import "{{ site.theme }}";

header {
  background: #000000;
  h1 {
    color: #FFFFFF;
  }
  
  #banner {
    background: #FFB71B;
    
    .button {
      display: none;
    }
  }
}

body {
  background: #FFFFFF; 
}

section {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

blockquote {
  border-left:1px solid #C98211;
}

td {
  border-right: 1px solid #C98211;

  &:first-child {
    border-left: 1px solid #C98211;
  }
}
